.container {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.scroll {
  white-space: nowrap;
}
.scroll div {
  display: flex;
}
.scroll p {
  color: white;
}
.RightToLeft {
  -moz-animation: RightToLeft 30s linear infinite;
  -webkit-animation: RightToLeft 30s linear infinite;
  animation: RightToLeft 30s linear infinite;
}
.Text {
  padding: 6px 0;
}
@keyframes RightToLeft {
  0% {
    -moz-transform: translateX(5%);
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes RightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes RightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
